Flask
Flask-Cors
Flask-PyMongo
Jinja2
MarkupSafe
PyYAML
Werkzeug
dateparser
jinja2-time
jsonschema
pip
pymongo
pyparsing
pypiwin32
pyrsistent
python-dateutil
python-slugify
pytz
pywin32
requests
text-unidecode
tomlkit
typing-extensions
tzdata
tzlocal