@media screen {
  #printSection {
      display: none;
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:relative;
    left:0;
    top:0;
  }
}

.modal-lg {
    width: 90% !important;
}
